<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}"
>

<div class="mt-4" layout:fragment="arguments">
    <div class="row">
        <form th:action="@{'/addCategory'}" method="post">
            <div class="mb-3">
                <label class="form-label">Category name</label>
                <input type="text" name="cat_name" class="form-control">
            </div>
            <div class="mb-3">
                <button class="btn btn-success">add</button>
            </div>
        </form>
    </div>
</div>
</html>