<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{'/'}">Trello</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ">
                <a class="nav-link active" aria-current="page" th:href="@{'/addCountry'}">All Folders</a>
                <a class="nav-link active" aria-current="page" th:href="@{'/addCategory'}">Categories</a>
            </div>
        </div>
    </div>
</nav>